.button:hover {
  background-color: aquamarine;
  box-shadow: 10px;
}

.button:active {
  background-color: brown;
}

a:link {
  color: red;
}

a:visited {
  color: rgb(84, 24, 141);
}

div::first-line {
  color: red;
  font-size: 1.5rem;
}